{% load static %}
{% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<section class='education'>
    <h1>Education</h1>
    <div class='education-list'>
        {% for item in education %}
            <article>
                <h2>{{ item.institution }}</h2>
                <p>{{ item.degree }} | {{ item.period }}</p>
                <p>{{ item.details }}</p>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
