{% load static %}
{% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<header class='header'>
    <div class='header-content'>
        <div class='profile-image-container'>
            <img src='/static/image/profile.jpeg' alt='Alphonce Rotich' class='profile-image' />
            <div class='image-overlay'>
                <span class='overlay-text'>Software Engineer</span>
            </div>
        </div>
        <div class='header-info'>
            <h1>Alphonce Rotich</h1>
            <p>Software Engineer</p>
        </div>
        <div class='contact-info'>
            <a href='https://www.linkedin.com/in/alphonce-rotich/' target='_blank' rel='noopener noreferrer'>LinkedIn</a>
            <a href='mailto:alphoncerotich30@gmail.com'>alphoncerotich30@gmail.com</a>
            <span>+254 708 477 938</span>
        </div>
    </div>
</header>
{% endblock %}
