{% load static %}
{% block title %}Alphonce Rotich{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<section class='hero'>
    <div class='hero-content'>
        <h2>Career Objective</h2>
        <p>A passionate Software Engineer with expertise in both Front-End and Back-End development, seeking a dynamic and challenging environment. Committed to leveraging my technical and interpersonal skills to positively impact organizational performance and deliver innovative software solutions.</p>
    </div>
</section>
{% endblock %}
