  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alphonce Rotich</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="app">


    {% include "header.html" %}

    {% include "hero.html" %}

    {% include "experience.html" %}

    {% include "project.html" %}

    {% include "skills.html" %}

     {% include "education.html" %}


    {% include "contact.html" %}

     {% include "footer.html" %}
